<div class="card mb-3">
  <h2 class="card-header h4">
    Plate #<%= plate.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Color</dt>
      <dd><%= plate.color %></dd>

      <dt>Fancy</dt>
      <dd><%= plate.fancy %></dd>

      <dt>Dancing</dt>
      <dd><%= plate.dancing %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back plate, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_plate_url(plate), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to plate, method: :delete, data: { confirm: "Do you really want to delete this plate?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(plate.updated_at) %> ago
  </div>
</div>
