<div class="card mb-3 text-center">
  <h2 class="card-header h4">
    Level #<%= level.id %>
  </h2>

  <div class="card-body">
    <% if level == Level.first %>
      <%= render "level_1", level: level %>
    <% elsif level == Level.second %>
      <%= render "level_2", level: level %>
    <% elsif level == Level.third %>
      <%= render "level_3", level: level %>
    <% end %>

    <div class="">
      <%= render "query_form", query: @query, level: @level %>

    </div>
    <div class="row">
      <div class="col">
        <%#= link_to_show_or_back level, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-outline-secondary" %>
      </div>

      <div class="col">
        <%#= link_to edit_level_url(level), class: "btn btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <%# end %>
      </div>

      <div class="col">
        <%#= link_to level, method: :delete, data: { confirm: "Do you really want to delete this level?" }, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <%# end %>
      </div>
    </div>
  </div>
</div>
