<div class="card mb-3">
  <h2 class="card-header h4">
    Level Item #<%= level_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Level</dt>
      <dd><%= level_item.level_id %></dd>

      <dt>Item</dt>
      <dd><%= level_item.item_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back level_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_level_item_url(level_item), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to level_item, method: :delete, data: { confirm: "Do you really want to delete this level_item?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(level_item.updated_at) %> ago
  </div>
</div>
